{% extends 'base.html' %}

{% block title %} Admin Page {% endblock %}

{% block body %}

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th scope="col">Customers</th>
            <th scope="col">Items</th>
            <th scope="col">Items Variety</th>
            <th scope="col">Orders</th>

        </tr>

    </thead> 
    <tbody>
        <tr>
        <td><a href="/customers" style="text-decoration: none; color: grey">View Users</a></td>
        <td><a href="/shop-items" style="text-decoration: none; color: grey">View Items</a></td>
        <td><a href="/add-shop-items" style="text-decoration: none; color: grey">Add Items</a></td>
        <td><a href="/view-orders" style="text-decoration: none; color: grey">View Orders</a></td>
        </tr>
    </tbody>
</table>


{% endblock %}